/* Title Section */
#mainTitleArea {
    margin-top: 75px;
}

#articleTitle {
    font-weight: bolder;
    font-size: 3.5rem; /* Adjust font size for responsiveness */
    color: #0077bb;
    text-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
}

#articleDate {
    font-weight: bold;
    margin-top: 2%;
    color: #343A40;
}


/* First Block */
#p1, #p2 {
    font-size: 1.5rem; /* Adjust font size for responsiveness */
    color: #343A40;
}

#firstSection {
    padding-top: 25px;
}

/* Second Block */
#quoteText, #quoteText2 {
    color: #fafaff;
    text-align: center;
    font-style: italic;
}

.quote-container {
    background-image: url("/static/img/quoteBG.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Adjust background size for responsiveness */
    height: 270px; /* Adjust height for responsiveness */
    padding: 20px; /* Add padding for better readability */
}

/* Third Block */
#p3, #p4 {
    font-size: 1.5rem; /* Adjust font size for responsiveness */
    color: #343A40;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .quote-container {
        height: 325px; /* Adjust height for responsiveness */
    }
}

@media (min-width: 992px) {
    .quote-container {
        height: 370px; /* Adjust height for responsiveness */
    }
}
