body {
    background-color: #ffffff !important;
}

#welcomedash {
    font-weight: 800;
    font-size: 4rem; /* Adjust font size for responsiveness */
    line-height: 1.2; /* Adjust line height for better readability */
    color: #343A40;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    #headerTitle {
        font-size: 2rem; /* Adjust font size for responsiveness */
    }

    .col.inline-block {
        width: 100%;
        /* Full width for smaller screens */
    }

    #welcomedash {
        font-size: 2.5rem; /* Adjust font size for responsiveness */
    }
}

@media (max-width: 576px) {
    #headerTitle {
        font-size: 1.5rem; /* Adjust font size for responsiveness */
    }

    #welcomedash {
        font-size: 2rem; /* Adjust font size for responsiveness */
    }
}
