/* Navbar */
.navbar {
    padding: 1% 2%; /* Adjusted padding to be responsive */
}

.nav-logo {
    width: 7%; /* Made the logo size responsive */
    padding-right: 2%; /* Adjusted padding to be responsive */
}

.navbar-brand {
    font-family: 'Inter', sans-serif !important;
    font-weight: bold;
    font-size: 2rem; /* Adjusted font size */
}

.bg-dark {
    background-color: #343A40 !important;
}

.nav-item {
    font-weight: bold;
    padding-left: 2%; /* Adjusted padding to be responsive */
}

.nav-link {
    color: #FAFAFE;
}

.nav-link:hover {
    color: #0077BB;
    border-bottom: 2px solid #0077BB;
}

.dropdown-item {
    text-align: center;
    color: #FAFAFE;
}

.dropdown-item:hover {
    text-align: center;
    background-color: #343A40;
    color: #0077BB;
}

.dropdown-menu {
    background-color: #343A40;
}

.profile-img {
    width: 3%; /* Made the profile image size responsive */
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -50% !important; /* Adjusted left positioning to be responsive */
    margin-top: var(--bs-dropdown-spacer);
}

/* Active state for the entire list item */
.nav-item.active {
    background-color: #0077BB;
    border-radius: 2px; /* Add rounded corners */
    padding: 1% 2%; /* Adjusted padding to be responsive */
}
